.container{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.header{
    background-color: #293f50;
    color: #648880;
    margin:-21px 0;
}
.logo{
    margin: 0 25%;
    height: 190px;
}
.grid{
    width: 960px;
    padding: 20px 0 22px 0;
}
.grid h1{
    float: left;
    margin: 0 auto;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0 22px 0; 
}
.grid h1 a{
    color: white;
}
h1 a:hover {
    color: #648880;
}
#date{
    text-align: right;
    margin: 38px 0 -38px 0;
    font-size: 21px;
    line-height: 22px;
    word-spacing: normal;
    font-weight: 300;
}
nav{
    text-align: right;
    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;
    word-spacing: 0.5px;
    font-weight: 400;
}
nav ul li{
    display: inline-block;     
    margin: 40px 5px;
}
nav ul li a{
    color: white;
}
nav ul li a:hover {
    color: #648880;
}
.box1{
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    text-align: center;
    height: 205px;
    min-width: 960px;
    padding-top: 10px;
    padding-left: 35px;
}
.box1 h1{
    margin-bottom: 0;
    font-size: 36px;
    line-height: 44px;
    word-spacing: normal;
    font-weight: 300;
}
.box1 p{
    margin-bottom: 22px;
    font-size: 21px;
    line-height: 33px;
    word-spacing: normal;
    font-weight: 300;
}
.speakers{
    margin: 0 25%;
    color: #648880;
    margin-top: 105px;
    margin-bottom: 38px;
    font-size: 16px;
    line-height: 22px;
    word-spacing: normal;
    font-weight: 300;
}
.speakers a{
    color: #648880;
}
.speakers a:hover{
    color: #a9b2b9;
}
.speakers h2{
    margin-bottom: -22px;
    font-size: 24px;
    line-height: 44px;
    word-spacing: normal;
    font-weight: 300;
}
.speakers h5{
    color: #a9b2b9;
    font-size: 14px;
    line-height: 22px;
    word-spacing: normal;
    font-weight: 400;
}
.text{
    /* border: 2px solid red; */
    display: inline-block;
    width: 62%;
}
.text a{
    /* text-decoration: underline #a9b2b9; */
    border-bottom: 1px solid #dfe2e5
}
.photo{
    border: 2px solid red;
    display: inline-block;
    vertical-align: top;
    width: 19.33%;
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 115px;
    margin-left: 25px;
    padding: 22px 42px;
    text-align: center;
}
.photo img{
    border-radius: 50%;
    height: 130px;
    margin: -66px 0 22px 0;
    vertical-align: top;   
}
.footer{
    background-color: #293f50;
    padding: 25px 0;
}
.section{
    margin: 0 25%;
}
.footer p{
    color: #648880;
    float: left;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: normal;
    font-weight: 400;
    margin: 40px 0;
}
.section nav{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: normal;
    font-weight: 300;
    padding: 0;
    margin: -35px 0;
}